* {
    margin: 0;
    padding: 0;
}

.header_top{
    display: flex;
}

.h1_main{
    margin-left: 50px;
    margin-top: 35px;
}
.container {
    width: 1366px;
    margin: 0 auto;
}

.client {
   /* display: flex;*/
}


.menu ul {
    /*background: #D4E7EE;*/
    overflow: hidden;
    padding: 0;
}

.menu li {
    width: 100px;
    height: 22px;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    border: 1px solid lightgray;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}


.menu li a {
    color: #8B00FF;
    text-decoration: none;
    /* без подчеркивания */
}

.menu li a:hover {
    color: darkorange;
    
}

.menu li a:active {
    color: coral;
}

.main {
   /* border-left: 10px solid;*/
}

.dir_product {
    float: left;
    border: 1px solid lightblue;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 490px;
}

.btn-pnl {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons ul {
    /*background: #D4E7EE;*/
    overflow: hidden;
    padding: 0;
    /*display: flex;
    justify-content: center;*/
}

.buttons li {
    width: 100px;
    height: 22px;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    border: 1px solid lightgray;

    border-radius: 10px;
    margin-bottom: 5px;
}


.buttons li a {
    color: #8B00FF;
    text-decoration: none;
    /* без подчеркивания */
}

.buttons li a:hover {
    color: darkorange;

}

.buttons li a:active {
    color: coral;
}
/*
.button:hover{
	border: 1px #a8a solid;
	background: #ccc;
}
*/
.submenu{
    display: none;
}
.menu li:hover ul{
    display: block;
}
.dir_pic{
    width: 270px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dir_product a{
    text-decoration: none;
}

.product-price{
    margin-left: 170px;
    font-weight: bold;
}
.footer{
    clear: both;
    border: 1px solid darkgray;
    background-color: lightgray;
    text-align: left;
}
.img_logo{
    width: 250px;
}
.fix-frame{
    position: fixed;
    margin-top: 200px;
    margin-left: 700px;
}